$font-family-monospace: monospace;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Merriweather", Georgia, "Times New Roman";

$headings-font-family: $font-family-sans-serif;
$font-family-base: $font-family-serif;

// $headings-font-family: $font-family-serif;
$accent-2: #faf4f1;
$brand-primary: #E46651;
$brand-info: #654E36;
$brand-success: #7FC800;
