a,
input,
button {
	transition: all 0.1s cubic-bezier(0.1, 0.7, 0.1, 1);
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.danger {
	color: $brand-danger;
	margin-bottom: 10px;
}

.scrollable {
	overflow: auto;
	max-height: 100%;
	height: 100%;
}

.btn-borderless {
	color: darken($gray, 20%);
	cursor: pointer;
	font-size: 11px;
	margin: 0 0 8px;
	padding: 8px 0;
	display: block;
	text-align: left;
	text-transform: uppercase;

	&:hover {
		color: $gray-dark;
		text-decoration: none;
	}

	svg {
		float: left;
		margin-top: -1px;
	}
}

.input-icon {
	position: relative;

	svg {
		color: lighten($gray, 10%);
		position: absolute;
		top: 8px;
		left: 7px;
	}

	.form-control {
		padding-left: 30px;
	}
}

.content-type {
	padding-left: 10px;
	label {
		cursor: pointer;
		font-size: 14px;
		display: block;
	}
	span {
		padding-left: 10px;
	}
}