.logo {
	font-family: $font-family-serif;
	font-size: 48px;
	color: #fff;
	small {
		color: #000;
	}
}

#login {
	background-color: $blue-custom;
	height: 100%;
	width: 100%;
	position: fixed;

	.wrapper {
		text-align: center;
		width: 320px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	form {
		padding: 40px 40px 20px 40px;
		//background-color: rgba(0,0,0,0.2);
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 3px;

		h2 {
			//color: rgba(255, 255, 255, 0.8);
			font-weight: 300;
			font-size: 28px;
			margin-bottom: 20px;
		}
	}

	input[type=text],
	input[type=password] {
		border: none;
		//border: 1px solid lighten($gray, 20%);
		background-color: rgba(255,255,255,0.6);

		&:focus {
			background-color: #fff;
		}
	}

	input[type=text] {
		border-radius: 3px 3px 0 0;
		//border-bottom: none;
		border-bottom: 1px solid lighten($gray, 25%);
	}
	input[type=password] {
		border-radius: 0 0 3px 3px;
	}

	footer {
		font-size: 0.7em;
		color: rgba(0,0,0,0.4);
		margin-top: 15px;
	}
}