#sidenav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 235px;
	background-color: $blue-custom;
	border-right: 1px solid $blue;
	color: #fff;
	transition: transform 0.1s cubic-bezier(0.1, 0.7, 0.1, 1);
	transform: translate3d(-220px, 0, 0);
	z-index: 500;

	header {
		padding-left: 15px;
		border-bottom: 1px solid $blue;

		.logo {
			font-size: 36px;
		}
	}

	.scrollable {
		padding-top: 15px;
		padding-right: 15px;
	}

	h5 {
		font-size: 12px;
		letter-spacing: 2px;
		color: $gray-dark;
		margin-top: 15px;
		padding-left: 15px;
	}
}

main {
	//margin-top: 47px;
	padding: 32px;

	.primary2 {
		max-width: 720px;
		margin: auto;
		z-index: 20;
	}
}

@include media-breakpoint-up(md) {
	#sidenav {
		transform: translate3d(0px,0,0);
	}
	main {
		margin-left: 220px;
	}
}
