// Colors
$blue: #69D2E7;
$blue2: #A7DBD8;
$beach: #E0E4CC;
$orange: #FA6900;
$orange2: #F38630;

// Typography
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

// Nav
$component-active-bg: $brand-info;
$nav-link-padding: 5px 15px;
$border-color: #e7e7ec;

// buttons
$btn-primary-bg: $orange;
$btn-primary-border: $orange;