$white: #ffffff;

$blue: #0087be;
$blue-light: #78dcfa;
$blue-medium: #00aadc;
$blue-dark: #005082;
$blue-custom: #3498db;

$gray: #87a6bc;
//$gray: #77cc6d;
$gray-light: lighten($gray, 33%);
$gray-dark: darken($gray, 38%);

$body-bg: $gray-light;


$brand-info: $blue-dark;

// Typography
$sans-fallback: Helvetica, Arial, sans-serif;
$font-family-sans-serif: Lato, $sans-fallback;

$serif-fallback: Georgia, "Times New Roman", Times, serif;
$font-family-serif: "Merriweather", $serif-fallback;

$text-muted: darken($white, 30%);